.information {
  position: absolute;
  margin-left: 1rem;
  font-family: arial;
  display: flex;
  flex-direction: column;
}

.information h1 {
  margin: 1rem 0;
  color: #ffffff;
  text-shadow:
               -1px -1px 0 #ccc4c4,
               1px -1px 0 #ccc4c4,
               -1px 1px 0 #ccc4c4,
               1px 1px 0 #ccc4c4,
               1px 1px #ffcccc,
               2px 2px #ffcccc,
               3px 3px #ffcccc,
               4px 4px #ffcccc,
               5px 5px #ffcccc,
               6px 6px #ffcccc,
               7px 7px #ffcccc,
               8px 8px #ffcccc,
               9px 9px #ccc4c4;

}

/* .information a {
  margin-top: 2rem;
}

.information a:first-of-type {
  margin-top: 0;
} */

.logo-links {
  display: flex;
  justify-content: space-between;
}

.contact-logo {
  opacity: .3;
  width: 25px;
}

.contact-logo[alt="LinkedIn"] {
  width: 31px;
  margin-left: 6px;
}

.contact-logo[alt="AngelList"] {
  width: 20px;
}

.contact-logo:hover {
  opacity: 1;
}
